.googleTrans {
    background-color: #18ad42;
}
.form-control>option:nth-child(3n+2) {
    background-color: #0c9570;
}
body {
    background-image: url('../pictures/waterflower.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.welcome {
  font-weight: bold;
  color: white;
}
